<!DOCTYPE HTML>
<html lang="en">
{% load static %}
<head>
        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fonts/beyond_the_mountains-webfont.css' %}" type="text/css"/>

        <!-- Stylesheets -->
        <link href="{% static 'plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugin-frameworks/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
        <link href="{% static 'common/styles.css' %}" rel="stylesheet">

</head>

<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="{% static 'images/logo-white.png' %}" alt="Logo"></a>

                <div class="right-area">
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +34 685 778 8892</a></h6>
                </div><!-- right-area -->

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="{% url 'hello' %}">HOME</a></li>
                        <li><a href="02_about_us.html">ABOUT US</a></li>
                        <li><a href="03_menu.html">SERVICES</a></li>
                        <li><a href="04_blog.html">NEWS</a></li>
                        <!--<li><a href="#register">Register</a></li>-->

                </ul>

                <div class="clearfix"></div>
        </div><!-- container -->
</header>
<section class="story-area left-text center-sm-text">
        <div class="container" id="login">
                <div class="heading"><br><br>
                        <!--<img class="heading-img" src="{% static 'images/heading_logo.png' %}" alt="">-->
                        <h2>login here</h2>

                </div>

                <form class="form-style-1 placeholder-1" name="form" action="{% url 'log' %}" enctype="multipart/form-data" method="POST" >
                        {% csrf_token %}
                        <div class="row">

                                 <div class="col-md-6"> <input class="mb-20" type="text" placeholder="user Name" name="username">  </div>
                                <div class="col-md-6"> <input class="mb-20" type="password" placeholder="Password " name="password">  </div>

                                <!--<div class="col-md-12"><input class="mb-20" type="text" placeholder="Address">  </div>-->
                        </div><!-- row -->
                        <input type="submit" value="login">
                        <h6 class="center-text mtb-30"></h6>
                </form>
        </div><!-- container -->
</section>

